@import '../main.css';

.materials-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.materials-table th,
.materials-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.materials-table th {
  background-color: #f2f2f2;
}