.product-list-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.add-product-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.action-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

.back-to-home-button {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #6c757d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.action-button.delete-button {
  background-color: #dc3545;
  margin-left: 5px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}